################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab2/.vs/Lab2/v17/Browse.VC.opendb
*.db
*.db
*.db
Lab2/.vs/Lab2/v17/.suo
Lab2/.vs/Lab2/v17/.suo
*.db
*.ilk
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.vsidx
*.db-shm
*.db-wal
*.opendb
/Pong/.vs/Pong/DesignTimeBuild/.dtbcache.v2
/Pong/.vs/Pong/v17/.futdcache.v2
/Pong/.vs/Pong/v17/.suo
/Pong/.vs/ProjectEvaluation/pong.metadata.v5.2
/Pong/.vs/ProjectEvaluation/pong.metadata.v6.1
/Pong/.vs/ProjectEvaluation/pong.projects.v5.2
/Pong/.vs/ProjectEvaluation/pong.projects.v6.1
/Pong/Pong/bin/Debug/net6.0-windows/Pong.dll
/Pong/Pong/bin/Debug/net6.0-windows/Pong.pdb
/Pong/Pong/obj/Debug/net6.0-windows/ref/Pong.dll
/Pong/Pong/obj/Debug/net6.0-windows/refint/Pong.dll
/Pong/Pong/obj/Debug/net6.0-windows/TempPE/Properties.Resources.Designer.cs.dll
/Pong/Pong/obj/Debug/net6.0-windows/Pong.csproj.AssemblyReference.cache
/Pong/Pong/obj/Debug/net6.0-windows/Pong.csproj.CoreCompileInputs.cache
/Pong/Pong/obj/Debug/net6.0-windows/Pong.csproj.FileListAbsolute.txt
/Pong/Pong/obj/Debug/net6.0-windows/Pong.csproj.GenerateResource.cache
/Pong/Pong/obj/Debug/net6.0-windows/Pong.dll
/Pong/Pong/obj/Debug/net6.0-windows/Pong.Form1.resources
/Pong/Pong/obj/Debug/net6.0-windows/Pong.pdb
/Pong/Pong/obj/Debug/net6.0-windows/Pong.Properties.Resources.resources
*.lock
/Pinvoke_Test/Pinvoke_Test/obj/Debug/net6.0/Pinvoke_Test.assets.cache
*.cache
/Pinvoke_Test/Pinvoke_Test/obj/Debug/net6.0/Pinvoke_Test.GeneratedMSBuildEditorConfig.editorconfig
/Pinvoke_Test/Pinvoke_Test/obj/Pinvoke_Test.csproj.nuget.dgspec.json
/Pinvoke_Test/Pinvoke_Test/obj/Pinvoke_Test.csproj.nuget.g.props
/Pinvoke_Test/Pinvoke_Test/obj/project.assets.json
/Pinvoke_Test/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.assets.cache
/Pinvoke_Test/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.GeneratedMSBuildEditorConfig.editorconfig
/Pinvoke_Test/WinFormsApp1/obj/project.nuget.cache
/Pinvoke_Test/WinFormsApp1/obj/project.assets.json
/Pinvoke_Test/WinFormsApp1/obj/WinFormsApp1.csproj.nuget.dgspec.json
/Pinvoke_Test/WinFormsApp1/obj/WinFormsApp1.csproj.nuget.g.props
*.1
/StringForLoop/.vs/StringForLoop/DesignTimeBuild/.dtbcache.v2
/StringForLoop/.vs/StringForLoop/v17/.futdcache.v2
/StringForLoop/.vs/StringForLoop/v17/.suo
/WindowBounce/.vs/WindowBounce/v17/TestStore/0
/Pinvoke_Test/WinFormsApp1/obj/Debug/net6.0-windows/TempPE
/Pinvoke_Test/.vs/Pinvoke_Test/v17
/Pinvoke_Test/.vs/ProjectEvaluation
/BankAccount/.vs/BankAccount/DesignTimeBuild/.dtbcache.v2
*.testlog
*.manifest
/BankAccount/BankAccount/obj/Debug/net6.0/BankAccount.GeneratedMSBuildEditorConfig.editorconfig
/BankAccount/BankAccount/obj/Debug/net6.0/BankAccount.assets.cache
/BankAccount/BankAccount/obj/BankAccount.csproj.nuget.dgspec.json
/BankAccount/BankAccount/obj/BankAccount.csproj.nuget.g.props
/BankAccount/BankAccount/obj/project.assets.json
/BankAccount/BankAccount/obj/project.nuget.cache
/WindowBounce/.vs/WindowBounce/v17/.futdcache.v2
/WindowBounce/.vs/WindowBounce/DesignTimeBuild/.dtbcache.v2
/WindowBounce/.vs/WindowBounce/v17/.suo
